:root {
    --color-fondo: #ffffff;
    /* Color de fondo claro */
    --color-texto: #000000;
    /* Color de texto oscuro */
}

body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

header{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

h1{
    margin-left: 20px;
    display: inline;
}

.home{
    align-content: center;
}

a {
    text-decoration: none;
    color: var(--color-texto);
}

ul {
    list-style: none;
}

.volver-arriba {
    position: fixed;
    width: 30px;
    height: 30px;
    bottom: 40px;
    right: 40px;
    background-color: #34495E;
    display: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
}

.fa-arrow-up {
    margin-top: 5px;
    font-size: 25px;
}

#menu-toggle, #menu {
    display: none;
}

.menu-icon {
    cursor: pointer;
    font-size: 10px;
}

.nav-links{
    display: flex;
    flex-flow: column wrap;
}

.footer-links {
    display: flex;
    flex-flow: row wrap;
}

.fa-facebook-square, .fa-instagram, .fa-at, .fa-whatsapp{
    font-size: 30px;
    font-weight: 700;
}

li{
    padding: 5px;
}